<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sieuthi.Properties.Settings.SIEUTHIConnectionString"
            connectionString="Data Source=./;Initial Catalog=QL_KHO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>