<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="ADMIN_GROUPMENUS" EntityName="AdminGroupmenus" Owner="dbo" PropertyName="AdminGroupmenus" FieldName="adminGroupmenus" FriendlyName="Admin Groupmenus" IncludeInOutput="true">
		<Column Id="ID_MENU" CSType="System.String" PropertyName="IdMenu" FieldName="idMenu" FriendlyName="Id Menu" IncludeInOutput="true" />
		<Column Id="ID_GROUP" CSType="System.String" PropertyName="IdGroup" FieldName="idGroup" FriendlyName="Id Group" IncludeInOutput="true" />
		<Column Id="VIEW" CSType="System.Boolean" PropertyName="View" FieldName="view" FriendlyName="View" IncludeInOutput="true" />
		<Column Id="ADD" CSType="System.Boolean" PropertyName="Add" FieldName="add" FriendlyName="Add" IncludeInOutput="true" />
		<Column Id="EDIT" CSType="System.Boolean" PropertyName="Edit" FieldName="edit" FriendlyName="Edit" IncludeInOutput="true" />
		<Column Id="DELETE" CSType="System.Boolean" PropertyName="Delete" FieldName="delete" FriendlyName="Delete" IncludeInOutput="true" />
		<Column Id="CONTROL" CSType="System.Boolean" PropertyName="Control" FieldName="control" FriendlyName="Control" IncludeInOutput="true" />
	</Table>
	<Table Id="ADMIN_GROUPS" EntityName="AdminGroups" Owner="dbo" PropertyName="AdminGroups" FieldName="adminGroups" FriendlyName="Admin Groups" IncludeInOutput="true">
		<Column Id="ID_GROUP" CSType="System.String" PropertyName="IdGroup" FieldName="idGroup" FriendlyName="Id Group" IncludeInOutput="true" />
		<Column Id="GROUP_NAME" CSType="System.String" PropertyName="GroupName" FieldName="groupName" FriendlyName="Group Name" IncludeInOutput="true" />
		<Column Id="ACTIVE" CSType="System.Int32?" PropertyName="Active" FieldName="active" FriendlyName="Active" IncludeInOutput="true" />
		<Column Id="PARENT" CSType="System.String" PropertyName="Parent" FieldName="parent" FriendlyName="Parent" IncludeInOutput="true" />
		<Column Id="DESCRIPTION" CSType="System.String" PropertyName="Description" FieldName="description" FriendlyName="Description" IncludeInOutput="true" />
		<Column Id="MODIFIED" CSType="System.DateTime?" PropertyName="Modified" FieldName="modified" FriendlyName="Modified" IncludeInOutput="true" />
		<ChildCollection Id="AdminUsersCollection_From_AdminGroupusers" PropertyName="AdminUsersCollection_From_AdminGroupusers" FieldName="adminUsersCollectionFromAdminGroupusers" FriendlyName="AdminUsersCollection_From_AdminGroupusers" CSType="TList&lt;AdminUsers&gt;" RelationshipType="ManyToMany" ForeignKeyName="FK_ADMIN_GROUPUSERS_ADMIN_GROUPS" IncludeInOutput="true"/>
		<ChildCollection Id="AdminMenusCollection_From_AdminGroupmenus" PropertyName="AdminMenusCollection_From_AdminGroupmenus" FieldName="adminMenusCollectionFromAdminGroupmenus" FriendlyName="AdminMenusCollection_From_AdminGroupmenus" CSType="TList&lt;AdminMenus&gt;" RelationshipType="ManyToMany" ForeignKeyName="FK_ADMIN_GROUPMENUS_ADMIN_GROUPS" IncludeInOutput="true"/>
		<ChildCollection Id="AdminGroupmenusCollection" PropertyName="AdminGroupmenusCollection" FieldName="adminGroupmenusIdGroup" FriendlyName="AdminGroupmenusCollection" CSType="TList&lt;AdminGroupmenus&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ADMIN_GROUPMENUS_ADMIN_GROUPS" IncludeInOutput="true"/>
		<ChildCollection Id="AdminGroupusersCollection" PropertyName="AdminGroupusersCollection" FieldName="adminGroupusersIdGroup" FriendlyName="AdminGroupusersCollection" CSType="TList&lt;AdminGroupusers&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ADMIN_GROUPUSERS_ADMIN_GROUPS" IncludeInOutput="true"/>
	</Table>
	<Table Id="ADMIN_GROUPUSERS" EntityName="AdminGroupusers" Owner="dbo" PropertyName="AdminGroupusers" FieldName="adminGroupusers" FriendlyName="Admin Groupusers" IncludeInOutput="true">
		<Column Id="ID_GROUP" CSType="System.String" PropertyName="IdGroup" FieldName="idGroup" FriendlyName="Id Group" IncludeInOutput="true" />
		<Column Id="ID_USER" CSType="System.String" PropertyName="IdUser" FieldName="idUser" FriendlyName="Id User" IncludeInOutput="true" />
	</Table>
	<Table Id="ADMIN_MENUS" EntityName="AdminMenus" Owner="dbo" PropertyName="AdminMenus" FieldName="adminMenus" FriendlyName="Admin Menus" IncludeInOutput="true">
		<Column Id="ID_MENU" CSType="System.String" PropertyName="IdMenu" FieldName="idMenu" FriendlyName="Id Menu" IncludeInOutput="true" />
		<Column Id="MENU_NAME" CSType="System.String" PropertyName="MenuName" FieldName="menuName" FriendlyName="Menu Name" IncludeInOutput="true" />
		<Column Id="ACTIVE" CSType="System.Int32?" PropertyName="Active" FieldName="active" FriendlyName="Active" IncludeInOutput="true" />
		<Column Id="PARENT" CSType="System.String" PropertyName="Parent" FieldName="parent" FriendlyName="Parent" IncludeInOutput="true" />
		<Column Id="IMAGE_NAME" CSType="System.String" PropertyName="ImageName" FieldName="imageName" FriendlyName="Image Name" IncludeInOutput="true" />
		<Column Id="IS_CREATE_ICON" CSType="System.Int32?" PropertyName="IsCreateIcon" FieldName="isCreateIcon" FriendlyName="Is Create Icon" IncludeInOutput="true" />
		<Column Id="DESCRIPTION" CSType="System.String" PropertyName="Description" FieldName="description" FriendlyName="Description" IncludeInOutput="true" />
		<Column Id="CHECKED" CSType="System.Int32?" PropertyName="SafeNameChecked" FieldName="safeNameChecked" FriendlyName="Checked" IncludeInOutput="true" />
		<Column Id="MODIFIED" CSType="System.DateTime?" PropertyName="Modified" FieldName="modified" FriendlyName="Modified" IncludeInOutput="true" />
		<Column Id="MENU_ORDER" CSType="System.Int32?" PropertyName="MenuOrder" FieldName="menuOrder" FriendlyName="Menu Order" IncludeInOutput="true" />
		<ChildCollection Id="AdminGroupsCollection_From_AdminGroupmenus" PropertyName="AdminGroupsCollection_From_AdminGroupmenus" FieldName="adminGroupsCollectionFromAdminGroupmenus" FriendlyName="AdminGroupsCollection_From_AdminGroupmenus" CSType="TList&lt;AdminGroups&gt;" RelationshipType="ManyToMany" ForeignKeyName="FK_ADMIN_GROUPMENUS_ADMIN_MENUS" IncludeInOutput="true"/>
		<ChildCollection Id="AdminGroupmenusCollection" PropertyName="AdminGroupmenusCollection" FieldName="adminGroupmenusIdMenu" FriendlyName="AdminGroupmenusCollection" CSType="TList&lt;AdminGroupmenus&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ADMIN_GROUPMENUS_ADMIN_MENUS" IncludeInOutput="true"/>
	</Table>
	<Table Id="ADMIN_USERS" EntityName="AdminUsers" Owner="dbo" PropertyName="AdminUsers" FieldName="adminUsers" FriendlyName="Admin Users" IncludeInOutput="true">
		<Column Id="ID_USER" CSType="System.String" PropertyName="IdUser" FieldName="idUser" FriendlyName="Id User" IncludeInOutput="true" />
		<Column Id="PASSWORD" CSType="System.Byte[]" PropertyName="Password" FieldName="password" FriendlyName="Password" IncludeInOutput="true" />
		<Column Id="FULL_NAME" CSType="System.String" PropertyName="FullName" FieldName="fullName" FriendlyName="Full Name" IncludeInOutput="true" />
		<Column Id="ACTIVE" CSType="System.Int32?" PropertyName="Active" FieldName="active" FriendlyName="Active" IncludeInOutput="true" />
		<Column Id="MODIFIED" CSType="System.DateTime?" PropertyName="Modified" FieldName="modified" FriendlyName="Modified" IncludeInOutput="true" />
		<Column Id="DESCRIPTION" CSType="System.String" PropertyName="Description" FieldName="description" FriendlyName="Description" IncludeInOutput="true" />
		<ChildCollection Id="AdminGroupsCollection_From_AdminGroupusers" PropertyName="AdminGroupsCollection_From_AdminGroupusers" FieldName="adminGroupsCollectionFromAdminGroupusers" FriendlyName="AdminGroupsCollection_From_AdminGroupusers" CSType="TList&lt;AdminGroups&gt;" RelationshipType="ManyToMany" ForeignKeyName="FK_ADMIN_GROUPUSERS_ADMIN_USERS" IncludeInOutput="true"/>
		<ChildCollection Id="AdminGroupusersCollection" PropertyName="AdminGroupusersCollection" FieldName="adminGroupusersIdUser" FriendlyName="AdminGroupusersCollection" CSType="TList&lt;AdminGroupusers&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ADMIN_GROUPUSERS_ADMIN_USERS" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMCAPBAC" EntityName="Dmcapbac" Owner="dbo" PropertyName="Dmcapbac" FieldName="dmcapbac" FriendlyName="Dmcapbac" IncludeInOutput="true">
		<Column Id="ID_CAPBAC" CSType="System.Int32" PropertyName="IdCapbac" FieldName="idCapbac" FriendlyName="Id Capbac" IncludeInOutput="true" />
		<Column Id="CAPBAC" CSType="System.String" PropertyName="Capbac" FieldName="capbac" FriendlyName="Capbac" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="LscapbacCollection" PropertyName="LscapbacCollection" FieldName="lscapbacIdCapbac" FriendlyName="LscapbacCollection" CSType="TList&lt;Lscapbac&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LSCAPBAC_DMCAPBAC1" IncludeInOutput="true"/>
		<ChildCollection Id="QuannhanCollection" PropertyName="QuannhanCollection" FieldName="quannhanIdCapbac" FriendlyName="QuannhanCollection" CSType="TList&lt;Quannhan&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_QUANNHAN_DMCAPBAC" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMCAPHOC" EntityName="Dmcaphoc" Owner="dbo" PropertyName="Dmcaphoc" FieldName="dmcaphoc" FriendlyName="Dmcaphoc" IncludeInOutput="true">
		<Column Id="ID_CAPHOC" CSType="System.Int32" PropertyName="IdCaphoc" FieldName="idCaphoc" FriendlyName="Id Caphoc" IncludeInOutput="true" />
		<Column Id="CAPHOC" CSType="System.String" PropertyName="Caphoc" FieldName="caphoc" FriendlyName="Caphoc" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="LstruonglopCollection" PropertyName="LstruonglopCollection" FieldName="lstruonglopIdCaphoc" FriendlyName="LstruonglopCollection" CSType="TList&lt;Lstruonglop&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LSTRUONGLOP_DMCAPHOC1" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMCHUCVU" EntityName="Dmchucvu" Owner="dbo" PropertyName="Dmchucvu" FieldName="dmchucvu" FriendlyName="Dmchucvu" IncludeInOutput="true">
		<Column Id="ID_CHUCVU" CSType="System.Int32" PropertyName="IdChucvu" FieldName="idChucvu" FriendlyName="Id Chucvu" IncludeInOutput="true" />
		<Column Id="CHUCVU" CSType="System.String" PropertyName="Chucvu" FieldName="chucvu" FriendlyName="Chucvu" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="LschucvuCollection" PropertyName="LschucvuCollection" FieldName="lschucvuIdChucvu" FriendlyName="LschucvuCollection" CSType="TList&lt;Lschucvu&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LSCHUCVU_DMCHUCVU1" IncludeInOutput="true"/>
		<ChildCollection Id="QuannhanCollection" PropertyName="QuannhanCollection" FieldName="quannhanIdChucvu" FriendlyName="QuannhanCollection" CSType="TList&lt;Quannhan&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_QUANNHAN_DMCHUCVU" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMDANTOC" EntityName="Dmdantoc" Owner="dbo" PropertyName="Dmdantoc" FieldName="dmdantoc" FriendlyName="Dmdantoc" IncludeInOutput="true">
		<Column Id="ID_DANTOC" CSType="System.Int32" PropertyName="IdDantoc" FieldName="idDantoc" FriendlyName="Id Dantoc" IncludeInOutput="true" />
		<Column Id="DANTOC" CSType="System.String" PropertyName="Dantoc" FieldName="dantoc" FriendlyName="Dantoc" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="QuannhanCollection" PropertyName="QuannhanCollection" FieldName="quannhanIdDantoc" FriendlyName="QuannhanCollection" CSType="TList&lt;Quannhan&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_QUANNHAN_DMDANTOC" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMDONVI" EntityName="Dmdonvi" Owner="dbo" PropertyName="Dmdonvi" FieldName="dmdonvi" FriendlyName="Dmdonvi" IncludeInOutput="true">
		<Column Id="ID_DONVI" CSType="System.Int32" PropertyName="IdDonvi" FieldName="idDonvi" FriendlyName="Id Donvi" IncludeInOutput="true" />
		<Column Id="MA_DONVI" CSType="System.String" PropertyName="MaDonvi" FieldName="maDonvi" FriendlyName="Ma Donvi" IncludeInOutput="true" />
		<Column Id="TEN_DONVI" CSType="System.String" PropertyName="TenDonvi" FieldName="tenDonvi" FriendlyName="Ten Donvi" IncludeInOutput="true" />
		<Column Id="ID_DONVICHA" CSType="System.Int32?" PropertyName="IdDonvicha" FieldName="idDonvicha" FriendlyName="Id Donvicha" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="QuannhanCollection" PropertyName="QuannhanCollection" FieldName="quannhanIdDonvi" FriendlyName="QuannhanCollection" CSType="TList&lt;Quannhan&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_QUANNHAN_DMDONVI" IncludeInOutput="true"/>
		<ChildCollection Id="DmlopCollection" PropertyName="DmlopCollection" FieldName="dmlopIdDaidoi" FriendlyName="DmlopCollection" CSType="TList&lt;Dmlop&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_DMLOP_DMDONVI" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMGIOITINH" EntityName="Dmgioitinh" Owner="dbo" PropertyName="Dmgioitinh" FieldName="dmgioitinh" FriendlyName="Dmgioitinh" IncludeInOutput="true">
		<Column Id="ID_GIOITINH" CSType="System.Int32" PropertyName="IdGioitinh" FieldName="idGioitinh" FriendlyName="Id Gioitinh" IncludeInOutput="true" />
		<Column Id="GIOITINH" CSType="System.String" PropertyName="Gioitinh" FieldName="gioitinh" FriendlyName="Gioitinh" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="QuannhanCollection" PropertyName="QuannhanCollection" FieldName="quannhanIdGioitinh" FriendlyName="QuannhanCollection" CSType="TList&lt;Quannhan&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_QUANNHAN_DMGIOITINH" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMHINHTHUCKHENTHUONG" EntityName="Dmhinhthuckhenthuong" Owner="dbo" PropertyName="Dmhinhthuckhenthuong" FieldName="dmhinhthuckhenthuong" FriendlyName="Dmhinhthuckhenthuong" IncludeInOutput="true">
		<Column Id="ID_HINHTHUC_KHENTHUONG" CSType="System.Int32" PropertyName="IdHinhthucKhenthuong" FieldName="idHinhthucKhenthuong" FriendlyName="Id Hinhthuc Khenthuong" IncludeInOutput="true" />
		<Column Id="HINHTHUC_KHENTHUONG" CSType="System.String" PropertyName="HinhthucKhenthuong" FieldName="hinhthucKhenthuong" FriendlyName="Hinhthuc Khenthuong" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="LskhenthuongCollection" PropertyName="LskhenthuongCollection" FieldName="lskhenthuongIdHinhthucKhenthuong" FriendlyName="LskhenthuongCollection" CSType="TList&lt;Lskhenthuong&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LSKHENTHUONG_DMHINHTHUCKHENTHUONG1" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMHINHTHUCKYLUAT" EntityName="Dmhinhthuckyluat" Owner="dbo" PropertyName="Dmhinhthuckyluat" FieldName="dmhinhthuckyluat" FriendlyName="Dmhinhthuckyluat" IncludeInOutput="true">
		<Column Id="ID_HINHTHUC_KYLUAT" CSType="System.Int32" PropertyName="IdHinhthucKyluat" FieldName="idHinhthucKyluat" FriendlyName="Id Hinhthuc Kyluat" IncludeInOutput="true" />
		<Column Id="HINHTHUC_KYLUAT" CSType="System.String" PropertyName="HinhthucKyluat" FieldName="hinhthucKyluat" FriendlyName="Hinhthuc Kyluat" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="LskyluatCollection" PropertyName="LskyluatCollection" FieldName="lskyluatIdHinhthucKyluat" FriendlyName="LskyluatCollection" CSType="TList&lt;Lskyluat&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LSKYLUAT_DMHINHTHUCKYLUAT1" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMLOAIQUANNHAN" EntityName="Dmloaiquannhan" Owner="dbo" PropertyName="Dmloaiquannhan" FieldName="dmloaiquannhan" FriendlyName="Dmloaiquannhan" IncludeInOutput="true">
		<Column Id="ID_LOAIQN" CSType="System.Int32" PropertyName="IdLoaiqn" FieldName="idLoaiqn" FriendlyName="Id Loaiqn" IncludeInOutput="true" />
		<Column Id="LOAI_QUANNHAN" CSType="System.String" PropertyName="LoaiQuannhan" FieldName="loaiQuannhan" FriendlyName="Loai Quannhan" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="QuannhanCollection" PropertyName="QuannhanCollection" FieldName="quannhanIdLoaiquannhan" FriendlyName="QuannhanCollection" CSType="TList&lt;Quannhan&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_QUANNHAN_DMLOAIQUANNHAN" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMLOP" EntityName="Dmlop" Owner="dbo" PropertyName="Dmlop" FieldName="dmlop" FriendlyName="Dmlop" IncludeInOutput="true">
		<Column Id="ID_LOP" CSType="System.Int32" PropertyName="IdLop" FieldName="idLop" FriendlyName="Id Lop" IncludeInOutput="true" />
		<Column Id="MALOP" CSType="System.String" PropertyName="Malop" FieldName="malop" FriendlyName="Malop" IncludeInOutput="true" />
		<Column Id="TENLOP" CSType="System.String" PropertyName="Tenlop" FieldName="tenlop" FriendlyName="Tenlop" IncludeInOutput="true" />
		<Column Id="ID_DAIDOI" CSType="System.Int32" PropertyName="IdDaidoi" FieldName="idDaidoi" FriendlyName="Id Daidoi" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="QuannhanCollection" PropertyName="QuannhanCollection" FieldName="quannhanIdLop" FriendlyName="QuannhanCollection" CSType="TList&lt;Quannhan&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_QUANNHAN_DMLOP" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMTONGIAO" EntityName="Dmtongiao" Owner="dbo" PropertyName="Dmtongiao" FieldName="dmtongiao" FriendlyName="Dmtongiao" IncludeInOutput="true">
		<Column Id="ID_TONGIAO" CSType="System.Int32" PropertyName="IdTongiao" FieldName="idTongiao" FriendlyName="Id Tongiao" IncludeInOutput="true" />
		<Column Id="TONGIAO" CSType="System.String" PropertyName="Tongiao" FieldName="tongiao" FriendlyName="Tongiao" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="QuannhanCollection" PropertyName="QuannhanCollection" FieldName="quannhanIdTongiao" FriendlyName="QuannhanCollection" CSType="TList&lt;Quannhan&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_QUANNHAN_DMTONGIAO" IncludeInOutput="true"/>
	</Table>
	<Table Id="DMTRUONG" EntityName="Dmtruong" Owner="dbo" PropertyName="Dmtruong" FieldName="dmtruong" FriendlyName="Dmtruong" IncludeInOutput="true">
		<Column Id="ID_TRUONG" CSType="System.Int32" PropertyName="IdTruong" FieldName="idTruong" FriendlyName="Id Truong" IncludeInOutput="true" />
		<Column Id="TENTRUONG" CSType="System.String" PropertyName="Tentruong" FieldName="tentruong" FriendlyName="Tentruong" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="LstruonglopCollection" PropertyName="LstruonglopCollection" FieldName="lstruonglopIdTruong" FriendlyName="LstruonglopCollection" CSType="TList&lt;Lstruonglop&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LSTRUONGLOP_DMTRUONG1" IncludeInOutput="true"/>
	</Table>
	<Table Id="LSCAPBAC" EntityName="Lscapbac" Owner="dbo" PropertyName="Lscapbac" FieldName="lscapbac" FriendlyName="Lscapbac" IncludeInOutput="true">
		<Column Id="ID_LICHSUCAPBAC" CSType="System.Int64" PropertyName="IdLichsucapbac" FieldName="idLichsucapbac" FriendlyName="Id Lichsucapbac" IncludeInOutput="true" />
		<Column Id="ID_QUANNHAN" CSType="System.Int32" PropertyName="IdQuannhan" FieldName="idQuannhan" FriendlyName="Id Quannhan" IncludeInOutput="true" />
		<Column Id="ID_CAPBAC" CSType="System.Int32" PropertyName="IdCapbac" FieldName="idCapbac" FriendlyName="Id Capbac" IncludeInOutput="true" />
		<Column Id="NGAYNHAN" CSType="System.DateTime?" PropertyName="Ngaynhan" FieldName="ngaynhan" FriendlyName="Ngaynhan" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
	</Table>
	<Table Id="LSCHUCVU" EntityName="Lschucvu" Owner="dbo" PropertyName="Lschucvu" FieldName="lschucvu" FriendlyName="Lschucvu" IncludeInOutput="true">
		<Column Id="ID_LICHSUCHUCVU" CSType="System.Int64" PropertyName="IdLichsuchucvu" FieldName="idLichsuchucvu" FriendlyName="Id Lichsuchucvu" IncludeInOutput="true" />
		<Column Id="ID_QUANNHAN" CSType="System.Int32" PropertyName="IdQuannhan" FieldName="idQuannhan" FriendlyName="Id Quannhan" IncludeInOutput="true" />
		<Column Id="ID_CHUCVU" CSType="System.Int32" PropertyName="IdChucvu" FieldName="idChucvu" FriendlyName="Id Chucvu" IncludeInOutput="true" />
		<Column Id="NGAYNHAN" CSType="System.DateTime?" PropertyName="Ngaynhan" FieldName="ngaynhan" FriendlyName="Ngaynhan" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
	</Table>
	<Table Id="LSKHENTHUONG" EntityName="Lskhenthuong" Owner="dbo" PropertyName="Lskhenthuong" FieldName="lskhenthuong" FriendlyName="Lskhenthuong" IncludeInOutput="true">
		<Column Id="ID_LICHSUKHENTHUONG" CSType="System.Int64" PropertyName="IdLichsukhenthuong" FieldName="idLichsukhenthuong" FriendlyName="Id Lichsukhenthuong" IncludeInOutput="true" />
		<Column Id="ID_QUANNHAN" CSType="System.Int32" PropertyName="IdQuannhan" FieldName="idQuannhan" FriendlyName="Id Quannhan" IncludeInOutput="true" />
		<Column Id="ID_HINHTHUC_KHENTHUONG" CSType="System.Int32" PropertyName="IdHinhthucKhenthuong" FieldName="idHinhthucKhenthuong" FriendlyName="Id Hinhthuc Khenthuong" IncludeInOutput="true" />
		<Column Id="CAP_KHENTHUONG" CSType="System.String" PropertyName="CapKhenthuong" FieldName="capKhenthuong" FriendlyName="Cap Khenthuong" IncludeInOutput="true" />
		<Column Id="NGAYNHAN" CSType="System.DateTime?" PropertyName="Ngaynhan" FieldName="ngaynhan" FriendlyName="Ngaynhan" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
	</Table>
	<Table Id="LSKYLUAT" EntityName="Lskyluat" Owner="dbo" PropertyName="Lskyluat" FieldName="lskyluat" FriendlyName="Lskyluat" IncludeInOutput="true">
		<Column Id="ID_LICHSUKYLUAT" CSType="System.Int64" PropertyName="IdLichsukyluat" FieldName="idLichsukyluat" FriendlyName="Id Lichsukyluat" IncludeInOutput="true" />
		<Column Id="ID_QUANNHAN" CSType="System.Int32" PropertyName="IdQuannhan" FieldName="idQuannhan" FriendlyName="Id Quannhan" IncludeInOutput="true" />
		<Column Id="ID_HINHTHUC_KYLUAT" CSType="System.Int32" PropertyName="IdHinhthucKyluat" FieldName="idHinhthucKyluat" FriendlyName="Id Hinhthuc Kyluat" IncludeInOutput="true" />
		<Column Id="CAP_KYLUAT" CSType="System.String" PropertyName="CapKyluat" FieldName="capKyluat" FriendlyName="Cap Kyluat" IncludeInOutput="true" />
		<Column Id="NGAY_QUYETDINH" CSType="System.DateTime?" PropertyName="NgayQuyetdinh" FieldName="ngayQuyetdinh" FriendlyName="Ngay Quyetdinh" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
	</Table>
	<Table Id="LSTRUONGLOP" EntityName="Lstruonglop" Owner="dbo" PropertyName="Lstruonglop" FieldName="lstruonglop" FriendlyName="Lstruonglop" IncludeInOutput="true">
		<Column Id="ID_LICHSUTRUONGLOP" CSType="System.Int64" PropertyName="IdLichsutruonglop" FieldName="idLichsutruonglop" FriendlyName="Id Lichsutruonglop" IncludeInOutput="true" />
		<Column Id="ID_QUANNHAN" CSType="System.Int32" PropertyName="IdQuannhan" FieldName="idQuannhan" FriendlyName="Id Quannhan" IncludeInOutput="true" />
		<Column Id="ID_TRUONG" CSType="System.Int32" PropertyName="IdTruong" FieldName="idTruong" FriendlyName="Id Truong" IncludeInOutput="true" />
		<Column Id="ID_CAPHOC" CSType="System.Int32" PropertyName="IdCaphoc" FieldName="idCaphoc" FriendlyName="Id Caphoc" IncludeInOutput="true" />
		<Column Id="NGANHHOC" CSType="System.String" PropertyName="Nganhhoc" FieldName="nganhhoc" FriendlyName="Nganhhoc" IncludeInOutput="true" />
		<Column Id="THOIGIAN_BATDAU" CSType="System.DateTime?" PropertyName="ThoigianBatdau" FieldName="thoigianBatdau" FriendlyName="Thoigian Batdau" IncludeInOutput="true" />
		<Column Id="THOIGIAN_KETTHUC" CSType="System.DateTime?" PropertyName="ThoigianKetthuc" FieldName="thoigianKetthuc" FriendlyName="Thoigian Ketthuc" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
	</Table>
	<Table Id="QUANNHAN" EntityName="Quannhan" Owner="dbo" PropertyName="Quannhan" FieldName="quannhan" FriendlyName="Quannhan" IncludeInOutput="true">
		<Column Id="ID_QUANNHAN" CSType="System.Int32" PropertyName="IdQuannhan" FieldName="idQuannhan" FriendlyName="Id Quannhan" IncludeInOutput="true" />
		<Column Id="MA_QUANNHAN" CSType="System.String" PropertyName="MaQuannhan" FieldName="maQuannhan" FriendlyName="Ma Quannhan" IncludeInOutput="true" />
		<Column Id="HOTEN_KHAISINH" CSType="System.String" PropertyName="HotenKhaisinh" FieldName="hotenKhaisinh" FriendlyName="Hoten Khaisinh" IncludeInOutput="true" />
		<Column Id="HOTEN_THUONGDUNG" CSType="System.String" PropertyName="HotenThuongdung" FieldName="hotenThuongdung" FriendlyName="Hoten Thuongdung" IncludeInOutput="true" />
		<Column Id="SOTHE_QUANNHAN" CSType="System.Int32" PropertyName="SotheQuannhan" FieldName="sotheQuannhan" FriendlyName="Sothe Quannhan" IncludeInOutput="true" />
		<Column Id="CMT_QUANNHAN" CSType="System.Int32" PropertyName="CmtQuannhan" FieldName="cmtQuannhan" FriendlyName="Cmt Quannhan" IncludeInOutput="true" />
		<Column Id="ANH_QUANNHAN" CSType="System.Byte[]" PropertyName="AnhQuannhan" FieldName="anhQuannhan" FriendlyName="Anh Quannhan" IncludeInOutput="true" />
		<Column Id="NGAYSINH" CSType="System.DateTime" PropertyName="Ngaysinh" FieldName="ngaysinh" FriendlyName="Ngaysinh" IncludeInOutput="true" />
		<Column Id="NGUYENQUAN" CSType="System.String" PropertyName="Nguyenquan" FieldName="nguyenquan" FriendlyName="Nguyenquan" IncludeInOutput="true" />
		<Column Id="SINHQUAN" CSType="System.String" PropertyName="Sinhquan" FieldName="sinhquan" FriendlyName="Sinhquan" IncludeInOutput="true" />
		<Column Id="TRUQUAN" CSType="System.String" PropertyName="Truquan" FieldName="truquan" FriendlyName="Truquan" IncludeInOutput="true" />
		<Column Id="DC_BAOTIN" CSType="System.String" PropertyName="DcBaotin" FieldName="dcBaotin" FriendlyName="Dc Baotin" IncludeInOutput="true" />
		<Column Id="HOTEN_CHA" CSType="System.String" PropertyName="HotenCha" FieldName="hotenCha" FriendlyName="Hoten Cha" IncludeInOutput="true" />
		<Column Id="HOTEN_ME" CSType="System.String" PropertyName="HotenMe" FieldName="hotenMe" FriendlyName="Hoten Me" IncludeInOutput="true" />
		<Column Id="HOTEN_VO(CHONG)" CSType="System.String" PropertyName="SafeNameHotenVoChong" FieldName="safeNameHotenVoChong" FriendlyName="Hoten Vo( Chong)" IncludeInOutput="true" />
		<Column Id="SO_ANHCHIEM" CSType="System.Int32" PropertyName="SoAnhchiem" FieldName="soAnhchiem" FriendlyName="So Anhchiem" IncludeInOutput="true" />
		<Column Id="SOCON" CSType="System.Int32" PropertyName="Socon" FieldName="socon" FriendlyName="Socon" IncludeInOutput="true" />
		<Column Id="ID_CAPBAC" CSType="System.Int32" PropertyName="IdCapbac" FieldName="idCapbac" FriendlyName="Id Capbac" IncludeInOutput="true" />
		<Column Id="ID_CHUCVU" CSType="System.Int32" PropertyName="IdChucvu" FieldName="idChucvu" FriendlyName="Id Chucvu" IncludeInOutput="true" />
		<Column Id="CNQS" CSType="System.String" PropertyName="Cnqs" FieldName="cnqs" FriendlyName="Cnqs" IncludeInOutput="true" />
		<Column Id="BACKYTHUAT" CSType="System.String" PropertyName="Backythuat" FieldName="backythuat" FriendlyName="Backythuat" IncludeInOutput="true" />
		<Column Id="TRINHDO_VANHOA" CSType="System.String" PropertyName="TrinhdoVanhoa" FieldName="trinhdoVanhoa" FriendlyName="Trinhdo Vanhoa" IncludeInOutput="true" />
		<Column Id="SUCKHOE" CSType="System.String" PropertyName="Suckhoe" FieldName="suckhoe" FriendlyName="Suckhoe" IncludeInOutput="true" />
		<Column Id="NGOAINGU" CSType="System.String" PropertyName="Ngoaingu" FieldName="ngoaingu" FriendlyName="Ngoaingu" IncludeInOutput="true" />
		<Column Id="HANG_THUONGTAT" CSType="System.String" PropertyName="HangThuongtat" FieldName="hangThuongtat" FriendlyName="Hang Thuongtat" IncludeInOutput="true" />
		<Column Id="TP_GIADINH" CSType="System.String" PropertyName="TpGiadinh" FieldName="tpGiadinh" FriendlyName="Tp Giadinh" IncludeInOutput="true" />
		<Column Id="TP_BANTHAN" CSType="System.String" PropertyName="TpBanthan" FieldName="tpBanthan" FriendlyName="Tp Banthan" IncludeInOutput="true" />
		<Column Id="ID_DANTOC" CSType="System.Int32" PropertyName="IdDantoc" FieldName="idDantoc" FriendlyName="Id Dantoc" IncludeInOutput="true" />
		<Column Id="ID_TONGIAO" CSType="System.Int32" PropertyName="IdTongiao" FieldName="idTongiao" FriendlyName="Id Tongiao" IncludeInOutput="true" />
		<Column Id="ID_GIOITINH" CSType="System.Int32" PropertyName="IdGioitinh" FieldName="idGioitinh" FriendlyName="Id Gioitinh" IncludeInOutput="true" />
		<Column Id="NGAY_NHAPNGU" CSType="System.DateTime" PropertyName="NgayNhapngu" FieldName="ngayNhapngu" FriendlyName="Ngay Nhapngu" IncludeInOutput="true" />
		<Column Id="NGAY_XUATNGU" CSType="System.DateTime?" PropertyName="NgayXuatngu" FieldName="ngayXuatngu" FriendlyName="Ngay Xuatngu" IncludeInOutput="true" />
		<Column Id="NGAY_TAINGU" CSType="System.DateTime?" PropertyName="NgayTaingu" FieldName="ngayTaingu" FriendlyName="Ngay Taingu" IncludeInOutput="true" />
		<Column Id="NGAY_VAODOAN" CSType="System.DateTime?" PropertyName="NgayVaodoan" FieldName="ngayVaodoan" FriendlyName="Ngay Vaodoan" IncludeInOutput="true" />
		<Column Id="NGAY_VAODANG" CSType="System.DateTime?" PropertyName="NgayVaodang" FieldName="ngayVaodang" FriendlyName="Ngay Vaodang" IncludeInOutput="true" />
		<Column Id="NGAYVAODANG_CHINHTHUC" CSType="System.DateTime?" PropertyName="NgayvaodangChinhthuc" FieldName="ngayvaodangChinhthuc" FriendlyName="Ngayvaodang Chinhthuc" IncludeInOutput="true" />
		<Column Id="NGAYCAPTHE_QN" CSType="System.DateTime?" PropertyName="NgaycaptheQn" FieldName="ngaycaptheQn" FriendlyName="Ngaycapthe Qn" IncludeInOutput="true" />
		<Column Id="NGAYCHUYEN_QNCN" CSType="System.DateTime?" PropertyName="NgaychuyenQncn" FieldName="ngaychuyenQncn" FriendlyName="Ngaychuyen Qncn" IncludeInOutput="true" />
		<Column Id="NGAYCHUYEN_CNV" CSType="System.DateTime?" PropertyName="NgaychuyenCnv" FieldName="ngaychuyenCnv" FriendlyName="Ngaychuyen Cnv" IncludeInOutput="true" />
		<Column Id="ID_DONVI" CSType="System.Int32" PropertyName="IdDonvi" FieldName="idDonvi" FriendlyName="Id Donvi" IncludeInOutput="true" />
		<Column Id="ID_LOP" CSType="System.Int32" PropertyName="IdLop" FieldName="idLop" FriendlyName="Id Lop" IncludeInOutput="true" />
		<Column Id="ID_LOAIQUANNHAN" CSType="System.Int32" PropertyName="IdLoaiquannhan" FieldName="idLoaiquannhan" FriendlyName="Id Loaiquannhan" IncludeInOutput="true" />
		<Column Id="TRANGTHAI" CSType="System.String" PropertyName="Trangthai" FieldName="trangthai" FriendlyName="Trangthai" IncludeInOutput="true" />
		<Column Id="GHICHU" CSType="System.String" PropertyName="Ghichu" FieldName="ghichu" FriendlyName="Ghichu" IncludeInOutput="true" />
		<ChildCollection Id="LschucvuCollection" PropertyName="LschucvuCollection" FieldName="lschucvuIdQuannhan" FriendlyName="LschucvuCollection" CSType="TList&lt;Lschucvu&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LSCHUCVU_QUANNHAN1" IncludeInOutput="true"/>
		<ChildCollection Id="LscapbacCollection" PropertyName="LscapbacCollection" FieldName="lscapbacIdQuannhan" FriendlyName="LscapbacCollection" CSType="TList&lt;Lscapbac&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LSCAPBAC_QUANNHAN1" IncludeInOutput="true"/>
		<ChildCollection Id="LskyluatCollection" PropertyName="LskyluatCollection" FieldName="lskyluatIdQuannhan" FriendlyName="LskyluatCollection" CSType="TList&lt;Lskyluat&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LSKYLUAT_QUANNHAN1" IncludeInOutput="true"/>
		<ChildCollection Id="LskhenthuongCollection" PropertyName="LskhenthuongCollection" FieldName="lskhenthuongIdQuannhan" FriendlyName="LskhenthuongCollection" CSType="TList&lt;Lskhenthuong&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LSKHENTHUONG_QUANNHAN1" IncludeInOutput="true"/>
		<ChildCollection Id="LstruonglopCollection" PropertyName="LstruonglopCollection" FieldName="lstruonglopIdQuannhan" FriendlyName="LstruonglopCollection" CSType="TList&lt;Lstruonglop&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LSTRUONGLOP_QUANNHAN1" IncludeInOutput="true"/>
	</Table>
</NetTiersMap>
